In [1]:
import pandas as pd
import numpy as np

In [12]:
data= pd.read_excel('../practical/Fa2.xlsx', dtype='object')
data.head()

         BD       MII
0  91004097  91012623
1  91004098  91004097
2  91012608  91013643
3  91003229  91010413
4  90563466  91012173

In [40]:
SCN=data['BD'].values # to array
CN=data['MII'].values

In [46]:
SCN = set(SCN) #converting into set
CN = set(CN)
s= set(CN).difference(SCN)) #gives values which are not present in CN
 # s= SCN & CN gives which are prsent in both SCn and CN

Missing values in first list: {nan}

In [38]:
results=[]
for row in s: # each row is a list
        results.append(row)

In [35]:
df = pd.DataFrame({'A': results})
df.to_excel("poo.xls")