Operators

In [12]:
print ("hello")

hello

In [27]:
35/7

5.0

In [14]:
"vivek"+"12"

'vivek12'

In [16]:
"vivek"*5

'vivekvivekvivekvivekvivek'

In [17]:
45>43

True

In [18]:
45<56

True

In [19]:
34*34<43*52

True

In [20]:
45==45

True

In [21]:
0 and 3

0

In [22]:
3 and 0

0

In [23]:
3 and 5

5

In [24]:
0 or 3

3

In [25]:
3 or 0

3

In [26]:
3 or 5

3

In [28]:
a=5

In [29]:
print(a)

5

In [30]:
A=4
print (a)
print (A)

5
4

In [31]:
a=5

In [32]:
type(a)

int

In [35]:
b="helo"

In [36]:
type(b)

str

In [37]:
x=4
if(x%2==0):
    print("even")
else:
    print("odd")

even

In [39]:
y=90
if(y>90):
    print("Grade A")
elif(y>60):
    print("Grade B")
else:
    print("Grade C")

Grade B

In [43]:
y=90
if(y<=90):
    print("Grade A")
elif(y<60):
    print("Grade B")
else:
    print("Grade C")

Grade A

In [44]:
for i in range (11,150):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149

In [56]:
for i in range (1,101,2):
    print (i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [65]:
def funk(a,b):
    if(a>b):
        return a
    else:
        return b

In [67]:
def wow(a,b,c):
    if(a>b>c):
        return a
    elif(a<b>c):
        return b
    else:
        return c

In [68]:
wow(10,11,12)

12

In [69]:
wow(12,10,6)

12

In [70]:
wow(4,5,3)

5

In [71]:
marks=[1,2,3,4,5,6,7,8,9,10]

In [72]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
marks[5]

6

In [74]:
marks[0:6]

[1, 2, 3, 4, 5, 6]

In [75]:
marks.append(11)

In [76]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [77]:
marks.extend([12,13,14])

In [78]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [79]:
marks.append([1,2,3])

In [80]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, [1, 2, 3]]

In [84]:
marks.remove([1,2,3])

In [85]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [86]:
del marks[0]

In [87]:
marks

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [90]:
for mark in marks:
    print(mark)

2
3
4
5
6
7
8
9
10
11
12
13
14

In [93]:
for mark in marks:
    print(mark+1)

3
4
5
6
7
8
9
10
11
12
13
14
15

In [1]:
marks={"history":45,"Geography":30,"Hindi":50}

In [2]:
marks

{'history': 45, 'Geography': 30, 'Hindi': 50}

In [5]:
marks['history']

45

In [6]:
marks['english']=47

In [7]:
marks

{'history': 45, 'Geography': 30, 'Hindi': 50, 'english': 47}

In [8]:
marks.update({"chem":33,"Phy":45})

In [9]:
marks

{'history': 45,
 'Geography': 30,
 'Hindi': 50,
 'english': 47,
 'chem': 33,
 'Phy': 45}

In [12]:
del marks['Hindi']

In [13]:
marks

{'history': 45, 'Geography': 30, 'english': 47, 'chem': 33, 'Phy': 45}

In [17]:
a=dict()

In [2]:
import pandas as pd

In [7]:
df=pd.read_csv("../code/Sample.csv")

In [8]:
df

    Parent Identifier  Student Identifier Unnamed: 2
0                1001                1002          N
1                1010                1003          N
2                1010                1004          N
3                1010                1005          N
4                1010                1006          N
5                1010                1007          N
6                1010                1008          N
7                1010                1009          N
8                1010                1010          N
9                1010                1011          Y
10               1010                1012          Y
11               1010                1013          Y
12               1010                1014          Y
13               1010                1015          Y
14               1010                1016          Y
15               1010                1017          Y
16               1010                1018          Y
17               1010                1019          Y
18               1010                1020          Y

In [31]:
df

   Parent Identifier  Student Identifier
0               1001                1002
1               1010                1020

In [35]:
df1=pd.read_csv("code/Sample.csv")

In [36]:
df1

   Parent Identifier  Student Identifier
0               1001                1002
1               1010                1020

In [38]:
df2=pd.read_excel("code/Data.xlsx")

In [39]:
df2

,Resource Name,Date,Task Name,Hours spent,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Vivek,2018-11-01,Training,5.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Vivek,2018-11-01,Internal Team meeting,4.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Vivek,2018-11-02,Internal Team meeting,4.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Vivek,2018-11-02,Training,5.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Vivek,2018-11-05,Training,9.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Vivek,2018-11-06,Training,9.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Vivek,2018-11-07,Holiday,9.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Vivek,2018-11-08,Planned leave,9.0,NaN,NaN,NaN,NaN,NaN,Internal Team meeting
8,Vivek,2018-11-09,Planned leave,9.0,NaN,NaN,NaN,NaN,NaN,Onshore Team meeting
9,Vivek,2018-11-12,ALM,2.0,NaN,NaN,NaN,NaN,NaN,Meeting with Automation
10,Vivek,2018-11-12,Internal Team meeting,3.0,NaN,NaN,NaN,NaN,NaN,Test case Design
11,Vivek,2018-11-12,Training,4.0,NaN,NaN,NaN,NaN,NaN,Test case review
12,Vivek,2018-11-13,Pre UAT Testing,2.0,NaN,NaN,NaN,NaN,NaN,Test case Rework- Review
13,Vivek,2018-11-13,Training,3.0,NaN,NaN,NaN,NaN,NaN,E2E prep
14,Vivek,2018-11-13,Internal Team meeting,2.0,NaN,NaN,NaN,NaN,NaN,E2E Review- Rework
15,Vivek,2018-11-13,E2E Review- Rework,2.0,NaN,NaN,NaN,NaN,NaN,E2E test case Mapping
16,Vivek,2018-11-14,Internal Team meeting,4.0,NaN,NaN,NaN,NaN,NaN,E2E Test case execution 1st run
17,Vivek,2018-11-14,Training,2.0,NaN,NaN,NaN,NaN,NaN,E2E Test case execution 2nd run
18,Vivek,2018-11-14,ALM,3.0,NaN,NaN,NaN,NaN,NaN,E2E test case execution Dry run
19,Vivek,2018-11-15,Training,3.0,NaN,NaN,NaN,NaN,NaN,Test case execution
20,Vivek,2018-11-15,Internal Team meeting,3.0,NaN,NaN,NaN,NaN,NaN,Defects logging - Update
21,Vivek,2018-11-15,Pre UAT E2E Analysis and Estimation,3.0,NaN,NaN,NaN,NaN,NaN,Re testing
22,Vivek,2018-11-16,Pre UAT Testing,2.0,NaN,NaN,NaN,NaN,NaN,ALM
23,Vivek,2018-11-16,ALM,4.0,NaN,NaN,NaN,NaN,NaN,Reporting
24,Vivek,2018-11-16,Internal Team meeting,3.0,NaN,NaN,NaN,NaN,NaN,Analysis (User stories)
25,Vivek,2018-11-19,Internal Team meeting,3.0,NaN,NaN,NaN,NaN,NaN,Downtime
26,Vivek,2018-11-19,ALM,3.0,NaN,NaN,NaN,NaN,NaN,Trainings
27,Vivek,2018-11-19,Pre UAT Testing,3.0,NaN,NaN,NaN,NaN,NaN,Project management
28,Vivek,2018-11-20,Downtime,2.0,NaN,NaN,NaN,NaN,NaN,Holiday
29,Vivek,2018-11-20,ALM,2.0,NaN,NaN,NaN,NaN,NaN,Planned leave
...,...,...,...,...,...,...,...,...,...,...
43,Vivek,2018-11-26,Pre UAT Testing,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Vivek,2018-11-26,Training,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Vivek,2018-11-27,Training,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Vivek,2018-11-27,ALM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Vivek,2018-11-28,Training,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Vivek,2018-11-28,Test case execution,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Vivek,2018-11-29,Test case execution,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Vivek,2018-11-29,Training,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Vivek,2018-11-30,Training,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Vivek,2018-11-30,Test case execution,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,2018-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,2018-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,2018-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,2018-12-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,2018-12-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,2018-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,2018-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,2018-12-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,2018-12-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,2018-12-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,2018-12-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,2018-12-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,2018-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,2018-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,2018-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,2018-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,2018-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,2018-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,2018-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,2018-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df.shape

(2, 2)

In [41]:
df.head()

   Parent Identifier  Student Identifier
0               1001                1002
1               1010                1020

In [42]:
df.head()

   Parent Identifier  Student Identifier
0               1001                1002
1               1010                1020

In [46]:
df.head()

   Parent Identifier  Student Identifier Unnamed: 2
0               1001                1002          N
1               1010                1003          N
2               1010                1004          N
3               1010                1005          N
4               1010                1006          N

In [47]:
df.tail()

    Parent Identifier  Student Identifier Unnamed: 2
14               1010                1016          Y
15               1010                1017          Y
16               1010                1018          Y
17               1010                1019          Y
18               1010                1020          Y

In [48]:
df.tail(8)

    Parent Identifier  Student Identifier Unnamed: 2
11               1010                1013          Y
12               1010                1014          Y
13               1010                1015          Y
14               1010                1016          Y
15               1010                1017          Y
16               1010                1018          Y
17               1010                1019          Y
18               1010                1020          Y

In [49]:
df.columns

Index(['Parent Identifier', 'Student Identifier', 'Unnamed: 2'], dtype='object')

In [51]:
df["Parent Identifier"]

0     1001
1     1010
2     1010
3     1010
4     1010
5     1010
6     1010
7     1010
8     1010
9     1010
10    1010
11    1010
12    1010
13    1010
14    1010
15    1010
16    1010
17    1010
18    1010
Name: Parent Identifier, dtype: int64

In [52]:
df[["Parent Identifier","Unnamed: 2"]]

    Parent Identifier Unnamed: 2
0                1001          N
1                1010          N
2                1010          N
3                1010          N
4                1010          N
5                1010          N
6                1010          N
7                1010          N
8                1010          N
9                1010          Y
10               1010          Y
11               1010          Y
12               1010          Y
13               1010          Y
14               1010          Y
15               1010          Y
16               1010          Y
17               1010          Y
18               1010          Y

In [53]:
df['Unnamed: 2']

0     N
1     N
2     N
3     N
4     N
5     N
6     N
7     N
8     N
9     Y
10    Y
11    Y
12    Y
13    Y
14    Y
15    Y
16    Y
17    Y
18    Y
Name: Unnamed: 2, dtype: object

In [54]:
df[['Unnamed: 2','Parent Identifier']]

   Unnamed: 2  Parent Identifier
0           N               1001
1           N               1010
2           N               1010
3           N               1010
4           N               1010
5           N               1010
6           N               1010
7           N               1010
8           N               1010
9           Y               1010
10          Y               1010
11          Y               1010
12          Y               1010
13          Y               1010
14          Y               1010
15          Y               1010
16          Y               1010
17          Y               1010
18          Y               1010

In [57]:
n=2
df.iloc[4:15+n]

    Parent Identifier  Student Identifier Unnamed: 2
4                1010                1006          N
5                1010                1007          N
6                1010                1008          N
7                1010                1009          N
8                1010                1010          N
9                1010                1011          Y
10               1010                1012          Y
11               1010                1013          Y
12               1010                1014          Y
13               1010                1015          Y
14               1010                1016          Y
15               1010                1017          Y
16               1010                1018          Y

In [58]:
df[df['Parent Identifier']==1010]

    Parent Identifier  Student Identifier Unnamed: 2
1                1010                1003          N
2                1010                1004          N
3                1010                1005          N
4                1010                1006          N
5                1010                1007          N
6                1010                1008          N
7                1010                1009          N
8                1010                1010          N
9                1010                1011          Y
10               1010                1012          Y
11               1010                1013          Y
12               1010                1014          Y
13               1010                1015          Y
14               1010                1016          Y
15               1010                1017          Y
16               1010                1018          Y
17               1010                1019          Y
18               1010                1020          Y

In [60]:
import pandas as p

In [61]:
df=pd.read_csv('code/index.csv')

In [63]:
df.columns

Index(['C', 'A', '8', '0', 'S', '0.1', 'COIL', '0.7', '610', '0.2', '0.3',
       '3'],
      dtype='object')

In [64]:
df['8']

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15     10
16      0
17      0
18      0
19      0
20     55
21      0
22     70
23      3
24      0
25      0
26      0
27     55
28      0
29      0
       ..
226     0
227     0
228     0
229     0
230     0
231     0
232     0
233     0
234     0
235    65
236     0
237     0
238     0
239     0
240     0
241     0
242     0
243     0
244     0
245     0
246     0
247     0
248     0
249     0
250     0
251     0
252     6
253     0
254    45
255     6
Name: 8, Length: 256, dtype: int64

In [67]:
df.columns[-2:]

Index(['0.3', '3'], dtype='object')

In [69]:
df[['0.3','3']]

     0.3  3
0      0  3
1      0  3
2      0  3
3      0  3
4      0  3
5      0  3
6      0  3
7      0  3
8      0  3
9      0  3
10     0  3
11     0  3
12     0  3
13     0  3
14     0  3
15     0  U
16     0  U
17     0  3
18     0  3
19     0  3
20     0  3
21     0  U
22     0  3
23     0  1
24     0  3
25     0  3
26     0  3
27     0  3
28   500  3
29     0  5
..   ... ..
226    0  2
227    0  3
228    0  3
229    0  3
230    0  3
231    0  3
232    0  3
233    0  5
234    0  3
235  500  3
236    0  3
237    0  5
238    0  3
239    0  3
240    0  3
241    0  3
242  600  3
243    0  3
244    0  3
245    0  2
246    0  3
247    0  3
248    0  3
249    0  3
250    0  3
251    0  3
252    0  3
253    0  3
254    0  3
255    0  3

[256 rows x 2 columns]

In [76]:
df[['C','A']].tail(10)

     C  A
246  C  R
247  C  A
248  C  A
249  C  R
250  C  A
251  C  A
252  C  R
253  C  A
254  C  K
255  C  R